<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
<title>How Fucked Is Muni?</title>
<link rel="stylesheet" href="[% request.uri_base %]/css/style.css" />

</head>
<body>
[% content %]
<div id="footer">
<p>By <a href="http://shutupandclickit.com/">Sam Kimbrel</a>.</p>
<p>Powered by <a href="http://perldancer.org/">Dancer</a> [% dancer_version %]</p>
</div>
</body>
</html>
