<div id="header"><h2>How Fucked Is Muni?</h2>
<p><h2>The [% name %] is [% IF status.is_fucked %] probably pretty [% ELSE %] not particularly [% END %] fucked.</h2></p></div>
<p>Stats:</p><div id="statsarea"><ul>
<li> [% status.delayed %] delayed vehicles of [% status.total %] total ([% status.delayed_pct * 100 %] percent delayed)
[% IF status.total == 0 %]<br /><small>Are you sure this line is running?</small>[% END %]
</li>
<li> Smallest gap between vehicles: [% status.small_gap %] minutes</li>
<li> Biggest gap between vehicles: [% status.big_gap %] minutes</li>
</ul>
</div>